version: "3"
services:
  website:
    build:
      context: .
      args:
        REPO: https://github.com/ant-design/ant-design.git
        NPM_REGISTRY: https://registry.npmmirror.com # taobao 
        TAG: master # antd version
    container_name: ant_design_site
    restart: "on-failure:3"
    ports:
      - 8088:80
