name: Create and publish a Docker image

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Build version number"
        required: true
        type: string
      isLatest:
        description: "Whether to tag as latest"
        required: false
        type: boolean
        default: false

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: wxh16144
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate build args
        id: build-args
        env:
          ANTD_LATEST_TAG: ${{ inputs.isLatest }}
        run: |
          echo "tags=$(bash generate_tags.sh wxh16144/antd ${{ inputs.tag }})" >> $GITHUB_OUTPUT

      - name: Download Ant Design site artifact
        uses: robinraju/release-downloader@v1
        with:
          repository: ant-design/ant-design
          tag: ${{ inputs.tag }}
          fileName: "website.tar.gz"
          extract: false
          out-file-path: "tmp"

      - name: Extract site and remove top-level dir
        run: |
          mkdir -p ./_site
          tar -xzf tmp/website.tar.gz --strip-components=1 -C ./_site

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./CI.Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.build-args.outputs.tags }}
